body{
    background-color: whitesmoke;
}
#sortable-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#sortable-table td, #sortable-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#sortable-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#sortable-table tr:hover {
    background-color: #ddd;
}

#sortable-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.input_container {
    display: flex;
    justify-content: space-around;
}


.inp{
    width: 20%;
}